.altium-wrapper {
  margin-left: calc(-1 * var(--wrap-size));
  margin-right: calc(-1 * var(--wrap-size));

  @include respond-to('lg') {
    margin-left: 0;
    margin-right: 0;
  }
}

.altium-ecad-viewer {
  border-color: rgb(241, 241, 241);
  border-radius: 0 0 4px 4px;
  border-style: solid;
  border-width: 1px;
  height: 400px !important;
  max-height: 700px;
  max-width: 1280px;
  overflow: hidden;
}
