.features-section {
  display: flex;
  flex-direction: column;
  gap: 4.375rem;

  @include respond-to('lg') {
    flex-direction: row;
    gap: 7.5rem;
    margin-left: -20%;
    margin-right: -20%;
  }
}

.feature {
  flex: 1;
  text-align: center;

  h2 {
    margin-top: 1rem;
  }

  img {
    max-width: 30vw;
  }
}
