footer {
  --footer-decoration-height: 2.5rem;
  align-items: center;
  background-color: var(--color-primary-700);
  color: var(--color-neutral-400);
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  margin-top: calc(var(--footer-decoration-height) + 2.5rem);
  padding: 1.5rem var(--wrap-size);
  position: relative;

  @include respond-to('lg') {
    --footer-decoration-height: 3.75rem;
    justify-content: flex-end;
    margin-top: calc(var(--footer-decoration-height) + 5.625rem);
  }

  a {
    color: var(--color-neutral-400);
    font-weight: 300;
    text-decoration: none;
  }

  &::before {
    background: linear-gradient(
      0deg,
      rgba(254, 159, 51, 0.94) 10%,
      #f4a850 50%,
      rgba(255, 190, 49, 0.94) 90%
    );
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 60% 0%, 30% 50%, 0% 50%);
    content: '';
    display: block;
    height: var(--footer-decoration-height);
    left: 0;
    position: absolute;
    top: calc(-1 * var(--footer-decoration-height));
    width: 100%;
  }

  .container {
    display: inline-block;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;

    @include respond-to('lg') {
      align-items: center;
      flex-direction: row;
      gap: 2.5rem;
      margin-left: auto;
    }
  }

  .icons {
    display: flex;
    gap: 1.25rem;

    @include respond-to('lg') {
      gap: 2.5rem;
      order: 2;
    }
  }
}
