$header-decoration-height: 2.5rem;
$header-vertical-padding: 0.5rem;

header {
  background-color: $color-primary-700;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: $header-vertical-padding $wrap-size;
  position: fixed;
  right: 0;
  top: 0;

  .logo-link {
    line-height: 0;
  }
}

header::after {
  background: linear-gradient(
    0deg,
    rgba(254, 159, 51, 0.94) 10%,
    #f4a850 50%,
    rgba(255, 190, 49, 0.94) 90%
  );
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 70% 50%, 40% 100%, 0% 100%);
  content: '';
  display: block;
  height: $header-decoration-height;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}
