header {
  background-color: var(--color-primary-1200);
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: var(--header-vertical-padding) var(--wrap-size);
  position: fixed;
  right: 0;
  top: 0;
  z-index: var(--z-index-header);

  @include respond-to('lg') {
    .menu-button {
      display: none;
    }
  }

  .logo-link {
    line-height: 0;
  }

  nav {
    display: none;
    place-items: center;

    @include respond-to('lg') {
      display: grid;
    }

    ul {
      display: flex;
      gap: 4rem;
      list-style-type: none;
    }

    a {
      color: var(--color-neutral-200);
      text-decoration: none;
    }
  }
}

.header-decoration {
  background: linear-gradient(
    0deg,
    rgba(244, 168, 80, 0.94) 10%,
    #f4a850 50%,
    rgba(255, 190, 49, 0.94) 90%
  );
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 70% 50%, 40% 100%, 0% 100%);
  height: var(--header-decoration-height);
  left: 0;
  position: absolute;
  top: var(--header-height);
  width: 100%;
  z-index: var(--z-index-header-decoration);
}
