.hero {
  background: linear-gradient(
    180deg,
    rgba(254, 159, 51, 0.94) 10%,
    #f4a850 50%,
    rgba(255, 190, 49, 0.94) 90%
  );
  font-size: 2rem;
  font-weight: 500;
  margin-top: calc(-1 * var(--header-decoration-height));
  padding: 3rem var(--wrap-size);
}
