.intro {
  margin-bottom: 4.375rem;
  margin-top: 2rem;

  @include respond-to('lg') {
    margin-bottom: 6rem;
    margin-top: 5rem;
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  p {
    font-size: 1.125rem;
  }
}
