$wrap-size: 1rem;

$color-primary-700: #00142f;
$color-neutral-900: #2E2E2E;
$color-neutral-800: #474747;
$color-neutral-700: #656565;
$color-neutral-600: #8C8C8C;
$color-neutral-500: #C0C0C0;
$color-neutral-400: #E0E0E0;
$color-neutral-300: #EFEFEF;
$color-neutral-200: #F8F8F8;
$color-accent-400: #F4A850;
$color-text: #000;
$color-background: #FFF;
