$breakpoint-lg: 1024px;

:root {
  --logo-height: 3.25rem;

  --header-vertical-padding: 0.5rem;
  --header-height: calc(
    var(--logo-height) + var(--header-vertical-padding) * 2
  );
  --header-decoration-height: 2.5rem;

  --wrap-size: 1rem;

  --color-primary-700: #00142f;
  --color-neutral-900: #2e2e2e;
  --color-neutral-800: #474747;
  --color-neutral-700: #656565;
  --color-neutral-600: #8c8c8c;
  --color-neutral-500: #c0c0c0;
  --color-neutral-400: #e0e0e0;
  --color-neutral-300: #efefef;
  --color-neutral-200: #f8f8f8;
  --color-accent-400: #f4a850;
  --color-text: #000;
  --color-background: #fff;

  @include respond-to('lg') {
    --wrap-size: 4.375rem;
    --header-vertical-padding: 1.5rem;
    --header-decoration-height: 3.75rem;
  }
}
