@import 'reset';
@import 'variables';
@import 'zindex';
@import 'typography';

@import 'components/buttons';
@import 'components/fields';
@import 'components/table';
@import 'components/header';
@import 'components/footer';
@import 'components/feature';
@import 'components/intro';
@import 'components/hero';
@import 'components/logo';
@import 'components/people';
@import 'components/person-card';
@import 'components/menu';
@import 'components/altium-ecad-viewer';

@import 'utils';

body {
  color: var(--color-text);
  font-family: 'Inter', sans-serif;
  padding-top: calc(
    var(--logo-height) + var(--header-vertical-padding) * 2 +
      var(--header-decoration-height)
  );
}

img {
  max-width: 100%;
}
