{% extends "base.njk" %}

{% block title %}{{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}

{% block content %}
  <h1 class="page-heading">About</h1>
  <div class="section-container">
    {% for section in sections %}
      <div class="section">
        <h2>{{ section.heading }}</h2>
        <p>{{ section.paragraph | safe }}</p>
      </div>
    {% endfor %}
  </div>
  <div class="people">
    {% for person in people %}
      <div class="person-card" style="background-color: {{ person.backgroundColor }}">
        <img src="{{ person.imageSrc }}" width="{{ person.imageWidth }}" height="{{ person.imageHeight }}"/>
        <div>
          <div class="name">{{ person.name }}</div>
          <div class="role">{{ person.role }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
