{% extends "base.njk" %}

{% block content %}
  <h1 class="page-heading">Cats Board One</h1>
  <div class="stretched-out">
    <div class="embla">
      <div class="embla-viewport">
        <div class="embla-container">
          <div class="embla-slide">
            <img class="embla-slide-img" src="/images/cats-one/board.png"/>
          </div>
          <div class="embla-slide">
            <img class="embla-slide-img" src="/images/cats-one/cat-1.jpg"/>
          </div>
          <div class="embla-slide">
            <img class="embla-slide-img" src="/images/cats-one/cat-2.jpg"/>
          </div>
        </div>
      </div>
      <button class="embla-button embla-button--prev hit-target" type="button">
        {{ "/images/icons/left-arrow.svg" | svgContents | safe }}
      </button>
      <button class="embla-button embla-button--next hit-target" type="button">
        {{ "/images/icons/right-arrow.svg" | svgContents | safe }}
      </button>
    </div>
  </div>
  <p>{{ description | safe }}</p>
  <h2>Get the latest updates</h2>
  <form class="newsletter-form" action="">
    <input type="email" placeholder="Enter your email"/>
    <button class="primary-button newsletter-button">Subscribe</button>
  </form>
  <h2>Features</h2>
  <table>
    <tbody>
      {% for feature in features %}
        <tr>
          {% for d in feature %}
            <td>{{ d }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <h2>Interactive Board Viewer</h2>
  <div class="stretched-out">
    <div class="altium-ecad-viewer" data-project-src="a8110220-c272-496c-921d-ba5b2bd93fe7" data-enabled-views="sch,pcb,3d,bom" data-active-view="sch"></div>
  </div>
{% endblock %}
