{% extends "base.njk" %}

{% block content %}
  <h1 class="page-heading">CATS Board One</h1>
  <div class="slider-and-newsletter">
    <div class="embla">
      <div class="embla-viewport">
        <div class="embla-container">
          <div class="embla-slide">
            <img class="embla-slide-img" src="/images/cats-one/front.png"/>
          </div>
          <div class="embla-slide">
            <img class="embla-slide-img" src="/images/cats-one/back.png"/>
          </div>
        </div>
      </div>
      <button class="embla-button embla-button--prev hit-target" type="button">
        {{ "/images/icons/left-arrow.svg" | svgContents | safe }}
      </button>
      <button class="embla-button embla-button--next hit-target" type="button">
        {{ "/images/icons/right-arrow.svg" | svgContents | safe }}
      </button>
    </div>
    <p class="description">{{ description | safe }}</p>
    <div class="newsletter-signup">
      <h2>Get the latest updates</h2>
      <form class="newsletter-form" name="newsletter" method="POST" data-netlify="true">
        <input name="email" type="email" placeholder="Enter your email" required="required"/>
        <button class="primary-button newsletter-button" type="submit">Subscribe</button>
      </form>
    </div>
  </div>
  <h2>Features</h2>
  <table>
    <tbody>
      {% for feature in features %}
        <tr>
          {% for d in feature %}
            <td>{{ d }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <h2>Interactive Board Explorer</h2>
  <div class="altium-wrapper">
    <div class="altium-ecad-viewer" data-project-src="5372e99b-47fe-4ecc-945f-572f319ed9aa"  data-enabled-views="sch,pcb,3d,bom" data-active-view="sch"></div>
  </div>
{% endblock %}
