{% extends "base.njk" %}

{% block title %}{{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}

{% block content %}
  <h1 class="page-heading">Community and Support</h1>
  <div class="section-container">
    {% for section in sections %}
      <div class="section">
        <h2>{{ section.heading }}</h2>
        <p>{{ section.paragraph | safe }}</p>
      </div>
    {% endfor %}
    <div class="section">
      <div class="newsletter-signup">
        <h2>Get the Latest Updates</h2>
        <form class="newsletter-form" name="newsletter" method="POST" data-netlify="true">
          <input name="email" type="email" placeholder="Enter your email" required="required"/>
          <button class="primary-button newsletter-button" type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
