{% extends "base.njk" %}

{% block title %}{{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}

{% block content %}
  <h1 class="page-heading">Ground Station</h1>
  <div class="slider-and-newsletter">
    <div class="embla">
      <div class="embla-viewport">
        <div class="embla-container">
          <div class="embla-slide">
            <img class="embla-slide-img" src="/images/ground_station/periphas_maiden_launch_crop.jpg" width="1710" height="871" />
          </div>
        </div>
      </div>
      <button class="embla-button embla-button--prev hit-target" type="button">
        {{ "/images/icons/left-arrow.svg" | svgContents | safe }}
      </button>
      <button class="embla-button embla-button--next hit-target" type="button">
        {{ "/images/icons/right-arrow.svg" | svgContents | safe }}
      </button>
    </div>
    <p class="description">{{ productDescription | safe }}</p>
    <div class="newsletter-signup">
      <h2>Get the Latest Updates</h2>
      <form class="newsletter-form" name="newsletter" method="POST" data-netlify="true">
        <input name="email" type="email" placeholder="Enter your email" required="required"/>
        <button class="primary-button newsletter-button" type="submit">Subscribe</button>
      </form>
    </div>
  </div>
  <h2>Features</h2>
  <table>
    <tbody>
      {% for feature in features %}
        <tr>
          {% for d in feature %}
            <td>{{ d }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <h2>Interactive Board Explorer</h2>
  <div class="altium-wrapper">
    {# <div class="altium-ecad-viewer" data-project-src="EE409780-3519-44B6-B212-B489CBFC7DA2" data-enabled-views="sch,pcb,3d,bom" data-active-view="sch"></div> #}
    <iframe src="https://personal-viewer.365.altium.com/client/index.html?feature=embed&source=EE409780-3519-44B6-B212-B489CBFC7DA2&activeView=SCH" width="1280" height="400" style="overflow:hidden;border:none;width:100%;height:400px;" scrolling="no" allowfullscreen="true" onload="window.top.scrollTo(0,0);"></iframe>
  </div>
{% endblock %}
