{% extends "base.njk" %}
{% from "macros.njk" import feature %}

{% block title %}{{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}

{% block css %}
  <style>
    .header-decoration {
      display: none;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="hero">
    <div class="hero-text">Fully open source sounding rocket computers</div>
  </div>
  <div class="floating-cat-container">
    {{ "/images/cats/small-cat.svg" | svgContents | safe }}
    {{ "/images/cats/fat-cat.svg" | svgContents | safe }}
  </div>
  <div class="intro">
    <h1>Why CATS?</h1>
    <p>We at CATS made it our goal to provide easy and modifiable rocket electronics for your sounding rockets. With the help of the documentation the boards are easily configurable for any use-case. As everything is open source, the functionality can be adapted to your specific needs.</p>
  </div>
  <div class="features-section">
    {% for featureData in features %}
      {{ feature(featureData.heading, featureData.paragraph, featureData.imageSrc) }}
    {% endfor %}
  </div>
{% endblock %}
