{% extends "base.njk" %}

{% block content %}
  <h1 class="page-heading">Software</h1>
  <div class="section-container">
    {% for section in sections %}
      <div class="section">
        <h2>{{ section.heading }}</h2>
        <p>{{ section.paragraph | safe }}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
