{% extends "base.njk" %}

{% block title %}{{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}

{% block content %}
  <h1 class="page-heading">Software</h1>
  <div class="image-section-container">
    {% for section in sections %}
      <div class="image-section">
        <div class="stretched-out-on-mobile">
          <img src="{{ section.imageSrc }}" width="{{ section.imageWidth }}" height="{{ section.imageHeight }}"/>
        </div>
        <div class="text">
          <h2>{{ section.heading }}</h2>
          <p>{{ section.paragraph | safe }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
