<footer>
  Meow.
  <div class="socials">
    <a href="https://github.com/catsystems">{{ "/images/icons/github.svg" | svgContents | safe }}</a>
    <a href="#">{{ "/images/icons/twitter.svg" | svgContents | safe }}</a>
    <a href="#">{{ "/images/icons/youtube.svg" | svgContents | safe }}</a>
  </div>
</footer>