<footer>
  <div class="container">
    <div class="icons">
      <a href="https://github.com/catsystems">{{ "/images/icons/github.svg" | svgContents | safe }}</a>
      <a href="#">{{ "/images/icons/discord.svg" | svgContents | safe }}</a>
      <a href="https://www.instagram.com/cat.systems">{{ "/images/icons/instagram.svg" | svgContents | safe }}</a>
      <a href="https://www.linkedin.com/company/catsystems">{{ "/images/icons/linkedin.svg" | svgContents | safe }}</a>
    </div>
    <a href="mailto:info@catsystems.io">info@catsystems.io</a>
  </div>
</footer>
