<header>
  <a href="/" class="logo-link">{{ "/images/logo/logo.svg" | svgContents | safe }}</a>
  <nav>
    <ul>
      {% for page in navPages %}
        <li>
          <a class="page-link" href="{{ page.href }}">{{ page.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <button class="menu-button hit-target">{{ "/images/icons/scratch-menu.svg" | svgContents | safe }}</button>
</header>
<div class="header-decoration"></div>
<div class="menu">
  <nav class="menu-nav">
    <ul>
      {% for page in navPages %}
        <li>
          <a class="page-link" href="{{ page.href }}">{{ page.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>
